.board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.board__row {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.board__cell {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border: 1px solid var(--primary);
  border-radius: 7px;
}
