.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(150, 150, 150, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 40%;
  height: 25%;
  background: white;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 0 0 10px var(--wrong);
}
button {
  padding: 20px;
  border-radius: 10px;
  background: var(--semi-correct);
  cursor: pointer;
}
